.App {
  min-height: 100vh;
  text-align: center;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.counter_block {
  border: 3px solid var(--color);
  border-radius: 15px;
  width: 40%;
  height: 280px;
  margin: 0 auto;
}

.settings_block div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.settings_block {
  border: 3px solid var(--color);
  margin: 15px;
  border-radius: 15px;
  padding: 15px;
  text-align: center !important;
  /* display: flex;
  flex-direction: column; */
}
.settings_block input{
  text-align: center;
  font-size: 28px;
  width: 100px;
  border: 3px solid var(--color);
  border-radius: 15px;
}
.btn_block {
  border: 3px solid var(--color);
  border-radius: 15px; 
  margin:  15px;
  padding: 15px; 
  display: flex;
  
}
.valueErrorStyle{
  color: red;
  border: 2px solid red;
}